<!-- <p>about works!</p> -->
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>I'm a passionate software developer with expertise in Python, JavaScript, C, HTML, CSS and Java. I
                    enjoy tackling complex challenges and building innovative solutions. My repositories showcase
                    projects in web development, Cyber Security and machine learning. I believe in the power of collaboration and
                    welcome contributions to my projects. Let's connect and make an impact in the world of software
                    development.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="../../assets/img/SP-Library.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Software developer &amp; Web Developer.</h3>
                    <!-- <p class="fst-italic"></p> -->
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>11 Oct
                                        2003</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                    <span>www.ariessurya.com</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>8124509710</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Chennai, Tamil
                                        Nadu</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BE-CSE</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                    <span>ariessurya8124@gmail.com</span>
                                </li>
                                <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- <p>I'm a passionate software developer with expertise in Python, JavaScript, C, HTML, CSS and Java. I enjoy tackling complex challenges and building innovative solutions. My repositories showcase projects in web development, Cyber Security and machine learning. I believe in the power of collaboration and welcome contributions to my projects. Let's connect and make an impact in the world of software development.</p> -->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- Animated Skills Bar -->
    <body>
        <h2>Skills</h2>
        <div class="skills-bar">
            <div class="bar">
                <div class="info">
                    <span>HTML/CSS</span>
                </div>
                <div class="progress-line html"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>JAVASCRIPT</span>
                </div>
                <div class="progress-line javascript"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>PHP</span>
                </div>
                <div class="progress-line php"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>PYTHON</span>
                </div>
                <div class="progress-line python"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>MYSQL</span>
                </div>
                <div class="progress-line mysql"><span></span></div>
            </div>
        </div>
    </body>
    <!-- End Animated Skills Bar -->
</main>